@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 32s linear infinite;
}

.animate-marquee:hover,
.animate-marquee.paused {
  animation-play-state: paused;
}
